%section.admin_payments
  .container
    .row
      .col-sm-10.col-sm-offset-1
        %section.payment_history
          %ul.nav.nav-tabs
            %li.active
              = link_to "Recent Payments"
            %li
              = link_to "Add a New Video", new_video_path
          %table.table
            %thead
              %tr
                %th Name
                %th Email
                %th Amount
                %th Reference ID
            %tbody
              - current_user.payments.each do |payment|
                %tr
                  %td = payment.payee_name
                  %td = payment.payee_email
                  %td = payment.amount
                  %td = payment.reference_id
